.card {
    width: 304px;
    height: 370px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--block-color);
    cursor: pointer;
}

.card .card-information {
    padding: 16px;
    display: grid;
    gap: 10px;
    text-align: start;
}

@media (max-width: 620px) {

    .card {
        margin-left: auto;
        margin-right: auto;
    }

}