@font-face {
    font-family: ALS Sector;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ALS_Sector-Regular.otf") format("opentype");
}

@font-face {
    font-family: ALS Sector;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ALS_Sector-Bold.otf") format("opentype");
}

:root {
    --text-color: #212529;
    --block-color: #FFF;
    --border-color: #EFEFEF;
    --text-focused: #4b515b;
    --transition-time: .1s;
    --button-color: #D1E7DD;
    --link-color: #2E43FF;
    --container-size: 1270px;
    --green-accent: #15803D;
    --red-accent: #DC2626;
    --blue-accent: #236DF1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'ALS Sector', sans-serif;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

.page-outer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-inner {
    max-width: var(--container-size);
}

.page-inner .main-information {
    user-select: none;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
     background-color: #2c2c2c;
     box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
     border-radius: 0px;
}

#map {
    border-radius: 8px;
}

.button {
    margin-top: 15px;
    background-color: black;
    border-radius: 12px;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 8px;
    transition: background-color .3s;
}

.button:hover {
    background-color: rgba(0, 0, 0, .93);
}

.photo {
    display: block;
    margin: 10px auto;
}

@media ( max-width: 600px ) {

    .photo {
        max-width: 90vw;
    }

    .modal-content .block {
        width: 80vw!important;
    }

}

ol, ul {
    margin-left: 20px;
}

.modal-content h3 {
    padding-top: 15px;
    padding-bottom: 5px;
}

.modal-content .cell h3 {
    padding: 0;
}

.modal-content h4 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-content .cell h4 {
    padding: 0;
}

.modal-content .text {
    margin: 8px 0;
}

.modal-content .cell .text {
    margin: 0;
}
